<div id="content" class="wide">
  <h2 class="analytics">Analytics</h2>

  <div class="portlet narrow blue">
    <div class="amount people"><%= @total_interactions %></div>
    <p>Total interactions this month</p>
  </div>

  <div class="portlet narrow blue">
    <div class="amount person"><%= @daily_avg_interactions %></div>
    <p>Average per day</p>
  </div>

  <div class="portlet narrow blue">
    <div class="amount time"><%= @last_updated %></div>
    <p>Last Updated</p>
  </div>

  <div class="portlet narrow blue">
    <div class="amount date"><%= @busiest_day_of_week%></div>
    <p>Busiest day of the week</p>
  </div>

  <div class="portlet wide" id="interactions-per-day">
    <h4>Number of Interactions per Day</h4>
  </div>

  <div class="portlet wide" id="interactions-by-weekday">
    <h4>Interactions by Day of the Week</h4>
  </div>

  <div class="portlet third left">
    <h4>Store Popularity</h4>
    <div class="chart list">
      <% @interactions_by_host.each_with_index do |value,index|%>
      <div class="item">
        <span class="number"><%= (index+1) %></span>
        <%= value[:host_name]%>, <em><%= value[:total]%> interactions</em>
      </div>
      <%end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var values = [
    //{ value: 0.43, name: "Mauritius"},
    //{ value: 0.17, name: "Thailand"},
    //{ value: 0.18, name: "Europe"},
    //{ value: 0.12, name: "USA"}
  ];
  drawDonutCharts(values, "#donut-charts");

  var values = [
    {name: 'Start', value: 10},
    {name: 'Menu', value: 4},
    {name: 'Carousel', value: 10},
    {name: 'Item', value: 4}
  ];
  drawFunnelChart(values, "#funnel");

  var values = <%= @daily_interactions.to_json.html_safe %>;

  drawBarChart(values, "#interactions-per-day");

  var values = <%= @days_of_week_interactions.to_json.html_safe %>;
  drawBarChart(values, "#interactions-by-weekday");

  var values = [
    {label: '00:00', tooltip: '00:00', value: 0},
    {label: '', tooltip: '02:00', value: 0},
    {label: '04:00', tooltip: '04:00', value: 0},
    {label: '', tooltip: '06:00', value: 0},
    {label: '08:00', tooltip: '08:00', value: 0},
    {label: '', tooltip: '10:00', value: 0},
    {label: '12:00', tooltip: '12:00', value: 0},
    {label: '', tooltip: '14:00', value: 0},
    {label: '16:00', tooltip: '16:00', value: 0},
    {label: '', tooltip: '18:00', value: 0},
    {label: '20:00', tooltip: '20:00', value: 0},
    {label: '', tooltip: '22:00', value: 0},
  ]
  drawBarChart(values, "#interactions-during-day");

</script>
