<div id="content" class="wide">
  <div id="apps">
    <h2 class="apps">Apps</h2>
    <div id="app-list">
      <ul>
        <li data-details="details-1" class="app">
          <%= image_tag("apps/four-structure.png") %>
          <h3>Four structure menu</h3>
          <div class="coming-soon"></div>
        </li>
        <li data-details="details-2" class="app">
          <%= image_tag("apps/two-structure.png") %>
          <h3>Two structure menu</h3>
          <div class="coming-soon"></div>
        </li>
        <li data-details="details-3" class="app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Carousel</h3>
          <div class="coming-soon"></div>
        </li>
        <li id="details-1" class="details">
          <div class="admo-tv">
            <%= image_tag("apps/gif-large.png") %>
          </div>
          <div class="description">
            <h2 class="catalog">Four structure menu</h2>
            <p>
              The four structure menu allows you to present your users with a selection of content and a follow up screen for each item containing further information or instructions.
            </p>
            <span class="online">Online component</span>
            <span class="avatar">Avatar</span>
            <a href="" class="button">Publish</a>
          </div>
        </li>
        <li id="details-2" class="details">
          <div class="admo-tv">
            <%= image_tag("apps/gif-large.png") %>
          </div>
          <div class="description">
            <h2 class="catalog">Two structure menu</h2>
            <p>
              The two structure menu allows you to present your users with a selection of content and a follow up screen for each item containing further information or instructions.
            </p>
            <span class="online">Online component</span>
            <span class="avatar">Avatar</span>
            <a href="" class="button">Publish</a>
          </div>
        </li>
        <li id="details-3" class="details">
          <div class="admo-tv">
            <%= image_tag("apps/gif-large.png") %>
          </div>
          <div class="description">
            <h2 class="catalog">Carousel</h2>
            <p>
              The carousel template allows your users to move through various options with an intuitive swipe gesture, and a follow up screen for each item containing further information or instructions.
            </p>
            <span class="online">Online component</span>
            <span class="avatar">Avatar</span>
            <a href="" class="button">Publish</a>
          </div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Photobooth</h3>
          <div class="coming-soon"></div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Fly around the world</h3>
          <div class="coming-soon"></div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Party Game</h3>
          <div class="coming-soon"></div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Competition</h3>
          <div class="coming-soon"></div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Build your own deal</h3>
          <div class="coming-soon"></div>
        </li>
        <li class="disabled app">
          <%= image_tag("apps/carousel.png") %>
          <h3>Catalogue</h3>
          <div class="coming-soon"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.app').click(function(){
      var selector = "#" + $(this).data('details');
      if ($(this).hasClass("active")){
        $(selector).slideUp();
        $(this).removeClass("active");
      } else {
        $('.details').hide(); // hide all the other app details divs
        $(selector).slideDown();
        $('.app').removeClass("active");
        $(this).addClass("active");
      }
    });
  });
</script>
