<section>
  <a href="#" class="new">+</a>
  <h2 class="content">Content Management</h2>

  <ul>
    <% @app.config.each do |key, value|
      url = view_content_path(@app,key)
      current_page = current_page?(url)

      %>
    <%= content_tag :li, :class=>active_class?(current_page) do
      link_to url do%>
      <%= value[:title] || 'unkown'%><%
      end
    end
    end%>
  </ul>
</section>

<div id="content">
  <h2><%= @app.name %></h2>

  <div class="portlet active">
    <div class="links">
      <a href="#" class="edit disabled" title="Edit"></a>
      <a href="#" class="delete" title="Delete"></a>
    </div>

    <%= form_tag update_content_path(@app,@current_content), :method=>:post do %>
      <div class="input-block">
        <label for="title">Title</label>
        <%= text_field_tag 'content[title]', @app.config[@current_content][:title] %>
      </div>

      <div class="input-block">
        <label for="descriptiong">Description</label>
        <%= text_area_tag 'content[description]', @app.config[@current_content][:description] %>
      </div>

      <div class="input-block left">
        <label>Image</label>
        <div id="image-div" class="image present" style="background-image: url(<%= @app.find_image(@current_content).thumb_url %>)">
          <input class="file-input" id="image_upload" name="upload" type="file" data-url="<%= update_content_item_path( @app,@current_content, @app.find_image(@current_content) )%>"></input>
          <div class="progress"><div class="bar"></div></div>
        </div>
      </div>

      <div class="input-block right">
        <label>Video</label>
        <div id="video-div" class="video">
          <input class="file-input" id="video_upload" name="upload" type="file" data-url="<%= update_content_item_path( @app,@current_content, @app.find_video(@current_content) )%>"></input>
          <div class="progress"><div class="bar"></div></div>
        </div>
      </div>
      <button type="button" class="cancel">Cancel</button>
      <button type="submit" class="proceed">Publish</button>

    <% end %>
  </div>
</div>


<script>
$(function () {

    $(['#video','#image']).each(function(key,value){
      var uploadElm = $(value+'_upload');
      console.log(uploadElm.data('url'));
      uploadElm.fileupload({
        dataType: 'json',
        formData: [ { name: 'authenticity_token', value: $('meta[name="csrf-token"]').attr('content') } ],
         url: uploadElm.data('url'),
         progressall: function (e, data) {

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress',value+'-div').show();
            $('.progress .bar',value+'-div').css(
                'width',
                progress + '%'
            );
        },
        done: function (e, data) {
          console.log(data);
          console.log(data.result);
          var file = data.result[0];
          $('.progress',value+'-div').hide();
          if(file.is_image){
            $(value+'-div').css('background-image','url('+file.thumbnail_url+')');
          }
        }
    });
    });
});
</script>
