<section>
  <a href="#" class="new">+</a>
  <h2>Content Management</h2>

  <ul>
    <% @app.config.each do |key, value|
      url = view_content_path(@app,key)
      current_page = current_page?(url)

      %>
    <%= content_tag :li, :class=>active_class?(current_page) do
      link_to url do%>
      <%= value[:title] || 'unkown'%><%
      end
    end
    end%>
  </ul>
</section>

<div id="content">
  <h2><%= @app.name %></h2>

  <div class="portlet active">
    <div class="links">
      <a href="#" class="edit disabled" title="Edit"></a>
      <a href="#" class="delete" title="Delete"></a>
    </div>

    <form>
      <div class="input-block">
        <label for="title">Title</label>
        <%= text_field_tag :title, @app.config[@current_content][:title] %>
      </div>

      <div class="input-block">
        <label for="descriptiong">Description</label>
        <%= text_area_tag :description, @app.config[@current_content][:description] %>
      </div>

      <div class="input-block left">
        <label>Video</label>
        <button type="button" class="video"></button>
      </div>

      <div class="input-block right">
        <label>Image</label>
        <button type="button" class="image"></button>
      </div>

      <button type="button" class="cancel">Cancel</button>
      <button type="submit" class="proceed">Publish</button>

    </form>
  </div>
</div>
