<% if @units.empty? %>
  <%= render 'overlay', header: "Configure your player",text: "This page will be available once you have configured your device.", link_text: "Get Started", link_url: dashboard_home_path %>
<% end %>

<div id="content" class="wide white">
  <div id="devices">
    <h2 class="devices">Devices</h2>
    <div class="devices-list">
      <table>
        <col style="width:200px"><col style="width:185px"><col style="width:200px"><col style="width:200px">
        <thead>
          <tr><th>Name</th>  <th>App</th>  <th>Last Updated</th>  <th>Status</th>
        </thead>
        <tbody>
          <%- @units.each do |unit|%>
          <%= form_tag(dashboard_devices_post_path,:method=>:post) do -%>
            <tr>
              <td><%= unit.name %></td>
              <td>
                <%= hidden_field_tag :admo_unit_id, unit.id %>
                <%= select_tag(:app_id,options_from_collection_for_select(@apps, "id","name",unit.get_current_pod_id)) %>
              </td>
              <td>
                <abbr class="timeago" title="<%=  unit.last_checkin.try(:iso8601) %>">
                  <%= unit.last_checkin.to_s %>
                </abbr>
              </td>
              <td class="online">
                <% if unit.online? %>
                  Online
                <% else %>
                  Offline
               <% end -%>
              </td>
              <td class="action"><%= submit_tag 'Save', class: 'button' %></td>
            <%end%>
            </tr>
          <%- end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

