<div id="content" class="wide white">
    <div id="get-started">
      <h2 class="get-started">Getting started</h2>
      <div class="tutorial">
        <ul class="tab-selectors">
          <li><a href="#tabs-1" class="selected">
            <%= image_tag("tutorial/1.png") %>
            Install
          </a></li>
          <li><a href="#tabs-2"><%= image_tag("tutorial/2.png") %><span>Configure</span></a></li>
          <li><a href="#tabs-3"><%= image_tag("tutorial/3.png") %>Choose App</a></li>
          <li><a href="#tabs-4"><%= image_tag("tutorial/4.png") %>Publish</a></li>
          <li class="line-hack"></li>
          <div class="" style="clear:both"></div>
        </ul>
        <div id="tabs">
          <div id="tabs-1" class="tab-content show">
            <div class="intro">
              <h1>Welcome to the Admo web portal</h1>
              <p>
                Follow these few easy steps to get started right away.<br/>
                Please start by downloading the installer and installing it on a Windows PC.<br/>
              </p>

            </div>
            <div class="download-block">
              <div class="image">
                <%= image_tag("tutorial/admo-app-icon.png") %>
                <a target="_blank" id="download-admo-button" href="#" class="button">...</a><br />
                <a target="_blank" id="download-chrome-button" href="http://chrome.google.com/" class="button">Google Chrome</a><br />
                <a target="_blank" id="download-kinect-button" href="https://s3-eu-west-1.amazonaws.com/admo-downloads/unit-installers/KinectRuntime-v1.8-Setup.exe" class="button">Kinect Runtime</a>
              </div>
              <div class="copy">
                <h1>Admo Player</h1>
                <h3>Description</h3>
                <p>
                  Download and run the Admo installer on any compatible Windows PC to get started with Admo. Follow the device specifications below to make sure you get the best performance out of your Admo unit.
                </p>
                <h3>Minimum PC Specs</h3>
                <p>
                  <strong>CPU</strong>  |  i5, Quad core 3.4ghz<br/>
                  <strong>Motherboard</strong>  |  LGA1155, 6x USB<br/>
                  <strong>RAM</strong>  |  4GB DDR3-1333 ( PC3-10666 )<br/>
                  <strong>OS</strong>  |  Windows 7<br/>
                </p>
                <!-- <a href="online">Buy Online</a> -->

              </div>
              <div class="" style="clear:both"></div>
            </div>
          </div> <!-- End Install -->
          <div id="tabs-2" class="tab-content ">
            <%= image_tag("tutorial/configure.png") %>
          </div> <!-- End Configure -->
          <div id="tabs-3" class="tab-content ">
            <%= image_tag("tutorial/app.png") %>
          </div> <!-- End Configure -->
          <div id="tabs-4" class="tab-content ">
            <%= image_tag("tutorial/publish.png") %>
          </div> <!-- End Configure -->
        </div>
    </div>
</div>

<script>
  $(function() {
    $('.tab-selectors li').click(function(){
      $('.tab-selectors li').removeClass("selected");
      $(this).addClass("selected");

      var selector = $(this).find('a').attr('href');
      $('.tab-content').hide();
      $(selector).fadeIn();
      return false;
    });
    var DOWNLOAD_URL = "https://s3-eu-west-1.amazonaws.com/admo-downloads/admo-kinect/";
    $.getJSON( DOWNLOAD_URL+"version.json",
     function( data ) {
      console.log(data);
      $("#download-admo-button").attr('href',DOWNLOAD_URL+data.filename);
      $("#download-admo-button").text("Download Admo");
    });
  });
</script>
