<div class="auth-block">
  <h1><span>Resend confirmation instructions</span></h1>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
    <div class="input-block">
      <label for="email" class="email">Email</label>
      <%= f.email_field :email, :autofocus => true, :placeholder=>'Email' %>
    </div>
    <%= f.submit "Resend confirmation instructions", :class=>'button' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

