<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="auth-block">
  <h1><span>ADMO</span></h1>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class="input-block">
      <label for="password" class="password">Password</label>
      <%= f.password_field :password, :placeholder=>'Password' %>
    </div>
    <div class="input-block">
      <label for="password_confirmation" class="password">Confirm</label>
      <%= f.password_field :password_confirmation, :placeholder=>'Confirm' %>
    </div>

    <div class="input-block">
      <label for="current_password" class="password"></label>
      <%= f.password_field :current_password, :placeholder=>'Current Password' %>
    </div>
    <%= f.submit "Update", :class=>'button' %>
  <% end %>
</div>
