<div id="content" class="wide">
  <div id="apps">
    <h2 class="apps">Apps</h2>
    <div id="app-list">
    <ul>
      <li class="details">
        <div class="admo-tv">
          <%= image_tag("apps/gif-large.png") %>
        </div>
        <div class="description">
          <h2 class="catalog">Catalog</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, autem, veniam, excepturi, maiores laboriosam cumque est explicabo commodi nihil unde cupiditate. Excepturi, maiores laboriosam cumque est explicabo commodi.
          </p>
          <span class="online">Online component</span>
          <span class="avatar">Avatar</span>
          <a href="" class="button">Publish</a>
        </div>
      </li>
      <li class="app active">
        <%= image_tag("apps/four-structure.png") %>
        <h3>Four structure menu</h3>
      </li>
      <li class="app">
        <%= image_tag("apps/two-structure.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Carousel</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled app">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
    </ul>
    </div>
  </div>
</div>