<div id="content" class="wide">
  <div id="apps">
    <h2 class="apps">Apps</h2>
    <div id="app-list">
    <ul>
      <li class="details">
        <div class="admo-tv">
          <%= image_tag("apps/gif-large.png") %>
        </div>
      </li>
      <li>
        <%= image_tag("apps/four-structure.png") %>
        <h3>Four structure menu</h3>
      </li>
      <li class="active">
        <%= image_tag("apps/two-structure.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li>
        <%= image_tag("apps/carousel.png") %>
        <h3>Carousel</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
      <li class="disabled">
        <%= image_tag("apps/carousel.png") %>
        <h3>Two structure menu</h3>
      </li>
    </ul>
    </div>
  </div>
</div>