<div id="content" class="wide white">
    <div id="get-started">
      <h2 class="get-started">Getting started</h2>
      <div class="tutorial">
        <ul> 
          <li><a href="#tabs-1" class="selected">
            <%= image_tag("tutorial/1.png") %>
            Install
          </a></li> 
          <li><a href="#tabs-2"><%= image_tag("tutorial/2.png") %><span>Configure</span></a></li> 
          <li><a href="#tabs-3"><%= image_tag("tutorial/3.png") %>Choose App</a></li> 
          <li><a href="#tabs-4"><%= image_tag("tutorial/4.png") %>Publish</a></li> 
          <div class="" style="clear:both"></div>
        </ul>
        <div id="tabs">
          <div id="tabs-1" class="tab-content">
            <p>
              Welcome to the Admo web portal.<br/>
              Follow these few easy steps to get started right away.<br/>
              Please start by downloading the installer and installing it on a Windows PC.<br/>
            </p>
            <a href="#hello">Download</a>
            <div class="block-gray">
              <div class="image">
                <%= image_tag("tutorial/install.png") %>
              </div>
              <div class="copy">
                <h3>Minimum Requirements</h3>
                <p>
                  PC Specs<br/>
                  CPU  |  i5, Quad core 3.4ghz<br/>
                  Motherboard  |  LGA1155, 6x USB<br/>
                  RAM  |  4GB DDR3-1333 ( PC3-10666 )<br/>

                  <a href="online">Buy Online</a>
                </p>
              </div>
              <div class="" style="clear:both"></div>
            </div>
          </div> <!-- End Install -->
          <div id="tabs-2" class="tab-content">
            <%= image_tag("tutorial/configure.png") %>
          </div> <!-- End Configure -->
          <div id="tabs-3" class="tab-content">
            <%= image_tag("tutorial/app.png") %>
          </div> <!-- End Configure -->
          <div id="tabs-4" class="tab-content">
            <%= image_tag("tutorial/publish.png") %>
          </div> <!-- End Configure -->
        </div>
    </div>
</div>
