<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Admo Content Management System" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js" %>


    <%= javascript_include_tag "application" %>

    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
     <% if Rails.env.production? %>
      <script type="text/javascript">
      var MTIProjectId='74645da5-ce78-404e-b8f0-bc4b1ad70f84';
       (function() {
              var mtiTracking = document.createElement('script');
              mtiTracking.type='text/javascript';
              mtiTracking.async='true';
              mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
              (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
         })();
      </script>
    <% end %>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body <%= current_user ? '' : 'class="login"'.html_safe %>>

    <% if current_user %>
      <header>
        <div class="wrapper">
          <h1><span>ADMO</span></h1>
          <div class="profile">
            <a class="expand">
               <%= current_user.email_to_name.titleize %><div class="icon"></div>
            </a>

            <ul>
              <li><%= link_to "Account", edit_user_registration_path %></li>
              <li><%= link_to "Billing", '#' %></li>
              <li><%= link_to "Log Out", destroy_user_session_path %></li>
            </ul>
          </div>
        </div>
      </header>


      <div id="page">
        <nav>
          <ul>
            <li><%= link_to '/dashboard/home', :class=>['home', active_class?(params[:action] == 'home')] do %> <span class="icon"></span>Home <%end%></li>
            <li><%= link_to view_content_path(users_app,users_app.config.keys.first), :class=>['content',active_class?(params[:action] == 'content')] do %> <span class="icon"></span>Content <%end%></li>
            <li><%= link_to analytics_path, :class=>['analytics',active_class?(params[:action] == 'analytics')] do %> <span class="icon"></span>Analytics<%end%></li>
            <li><%= link_to support_path, :class=>['support',active_class?(params[:action] == 'support')] do %> <span class="icon"></span>Support<%end%></li>
          </ul>
        </nav>
    <% end %>

    <%= yield %>

    <% if current_user %>
      </div> <!-- #page -->
    <% end %>
  </body>
</html>
