<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Admo Content Management System" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "cms", :media => "all" %>

    <%= javascript_include_tag "cms" %>

    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
  </head>
  <body <%= @login ? 'class="login"'.html_safe : '' %>>

    <% unless @login %>
      <header>
        <div class="wrapper">
          <h1><span>ADMO</span></h1>
          <div class="profile">
            <div class="more"></div>
            Anandi Ellis
          </div>
        </div>
      </header>

      <div id="page">
        <nav>
          <ul>
            <li><a href="/html/home" class="home active"><span class="icon"></span>Home</a></li>
            <li><a href="/html/content" class="content"><span class="icon"></span>Content</a></li>
            <li><a href="#" class="analytics"><span class="icon"></span>Analytics</a></li>
            <li><a href="#" class="support"><span class="icon"></span>Support</a></li>
          </ul>
        </nav>
    <% end %>

    <%= yield %>

    <% unless @login %>
      </div> <!-- #page -->
    <% end %>


    <% if Rails.env.production? %>
      <script type="text/javascript">
      var MTIProjectId='74645da5-ce78-404e-b8f0-bc4b1ad70f84';
       (function() {
              var mtiTracking = document.createElement('script');
              mtiTracking.type='text/javascript';
              mtiTracking.async='true';
              mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
              (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
         })();
      </script>
    <% end %>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
  </body>
</html>
